<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Saviynt" parallel="none">

	<!--  <test name="End user creation">
	<classes>
		<class name="com.bp.saviynt.EndUserCreation">
		</class>
	</classes>
</test>
	
	  <test name="New User: ADD Enterprise Role Request-Basic">
		<classes>
			<class name="com.bp.saviynt.ADD_Enterprise_Role_Request_Basic_Test" />
		</classes>
	</test>
	  <test name="New User: ADD_Enterprise_Role_Request_Escalation_And_Rejection">
		<classes>
			<class
				name="com.bp.saviynt.ADD_Enterprise_Role_Request_Escalation_And_Rejection" />
		</classes>
	</test>
	<test name="Existing User: REMOVE_and_ADD_Enterprise_Role_Request">
		<classes>
			<class name="com.bp.saviynt.REMOVE_and_ADD_Enterprise_Role_Request" />
		</classes>
	</test>
	    <test name="Existing User: ADD_Enterprise_Role_Request_SOD">
		<classes>
			<class name="com.bp.saviynt.ADD_Enterprise_Role_Request_SOD" />
		</classes>
	</test>-->
	
	   <test name="Add enterprise role - r6">
		<classes>
			<class name="com.bp.saviynt.Add_Enterprise_Role_R6" />
		</classes>
	</test>
	<test name="Add enterprise role - r7">
		<classes>
			<class name="com.bp.saviynt.Add_Enterprise_Role_R7" />
		</classes>
	</test>
	<test name="Remove enterprise role - r6 and r7">
		<classes>
			<class name="com.bp.saviynt.Remove_Enterprise_Role_R6andR7" />
		</classes>
	</test>
	<test name="NewUser_Add_Group_Permission_Profile">
		<classes>
			<class name="com.bp.saviynt.NewUser_Add_Group_Permission_Profile" />
		</classes>
	</test>
	<test name="Existing_User_Modify_Account">
		<classes>
			<class name="com.bp.saviynt.Existing_User_Modify_Account" />
		</classes>
	</test>
	<test name="Existing_User_Remove_Salesforce_Application_Access">
		<classes>
			<class name="com.bp.saviynt.Existing_User_Remove_Salesforce_Application_Access" />
		</classes>
	</test>
	
</suite>